@import "~react-image-gallery/styles/css/image-gallery.css";

.section-name {
    text-align: center;
    font-size: 42px;
    color: #f50057;
}

.writer-image {
    width: 250px;
    height: 300px;
    margin: 0 auto;
    border-radius: 3px;
}

.writer-info {
    margin: 40px;
}

.name{
    text-align: center;
    color: #f50057;
}

.years {
    text-align: center;
    color: rgb(251, 140, 0);
    font-size: 20px;
}

.biography {
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

.author-page {
  color: white;
}
